.sign-up-form {
  form {
    .button-container {
      display: flex;
      justify-content: center;
    };
    

    .input-container {
      label {
        width: 146px;
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 10px;
      }
    }
  }
}
